﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Contacts.aspx.cs" Inherits="DGD.Contacts" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container-fluid">
        <h4>Контакты</h4>
        <p>Адрес: 130000, Мангистауская область, город Актау, микрорайон 31 «А», здание 5.</p>
        <p>Телефон: 8 (7292) 403659 (дежурная часть)</p>
    </div>

</asp:Content>
