﻿body
{
    font-family:FiraSans, Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    background-color:#EFEFEF;
}

#wrapper
{
    margin:0px auto;
    width:900px;
}

#header
{
    margin-top:10px;
    border-bottom:1px solid gray;
}

#logo_title
{
    
    padding-top:12px;
    padding-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

#tbl_report_settings tr td 
{
    padding:4px;
}